{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env":
  {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules":
  {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}