.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#containers {
  position: absolute;
  display: flex;
  align-content: stretch;
  flex: 1;
  height: 100%;
  width: 100%;
}

.header {
  z-index: 9999;
}

::-webkit-scrollbar {
  display: none;
}

.Display{
  overflow: hidden;
  background-color: #012346;
  min-height: 100vh;
  color: white;
  text-align: center;
  align-content: stretch;
  display: flex;
  flex-flow: column;
}

.Display-logo{
  max-height: 10vh;
}

footer{
  display: flex;
  flex-flow: row-reverse;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
}

.logSquares{
  width:20px;
  height:20px;
  border: 4px solid black;
  align-self: flex-end;
}

#loggedUsers_wrapper{
  display: flex;
  flex-flow: row-reverse;
}

.Mobile{
  background-color: #012346;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.Mobile-logo{
  max-height: 16vh;
}

.helpButton{
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.8;
}

.postit{
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #ffa;
  font-family: Pacifico, Arial, sans-serif;
  float:left;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px #00000022;
  color: black;
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
}

.postit-img {
  position: absolute;
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
  border: 3px solid white;
}

.postit:nth-child(1n){
  transform: rotate(1deg);
}

.postit:nth-child(2n){
  transform: rotate(-2deg);
}

.postit:nth-child(3n){
  transform: rotate(3deg);
}

.postit-img:nth-child(1n){
  transform: rotate(1deg);
}

.postit-img:nth-child(2n){
  transform: rotate(-2deg);
}

.postit-img:nth-child(3n){
  transform: rotate(3deg);
}

.embeded{
  position: absolute;
  width: 320px;
  height: 330px;
}

.embededIframe{
  position: relative;
  width: 320px;
  height: 330px;
  border-radius: 20px 20px 5px 5px;
}

.pointer{
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  z-index: 3000;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.pointer.pressing {
  background-color: white !important;
  -webkit-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

.qr{
  width: 140px;
  height: 140px;
  align-self: flex-end;
  opacity: 0.85;
}

.scanMe{
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 148px;
  right: 0;
  opacity: 0.95;
}


/* Radial Menu */

.pieWrap {
  position:absolute;
  width:210px;
  height:210px;
  z-index: 3000;
}

.pieSlice {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: grey;
  background-repeat:no-repeat;
  background-size: 40%;
  background-position: center;
  margin: 2.5px;
  float: left;
}

.innerCircle {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

.pieSliceText {
  border-radius: 100% 0 0 0;
  background-image:url('Assets/text.png');
}

.pieSliceMedia {
  border-radius: 0 100% 0 0;
  background-image:url('Assets/media.png');
}

.pieSliceEmbeded {
  border-radius: 0 0 0 100%;
  background-image:url('Assets/instagram-logo-black-transparent.png');
}

.pieSliceCredits {
  border-radius: 0 0 100% 0;
  background-image:url('Assets/credits.png');
}

.pulse {
  position: absolute;
  margin-top: -27.5px;
  margin-left: -27.5px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  animation: pulse 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  z-index: 3000;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

td {
  vertical-align: middle;
}
