.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Display{
  background-color: #012346;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.Display-logo{
  max-height: 10vh;
  z-index: 9999;
}

.Mobile{
  background-color: #012346;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.Mobile-logo{
  max-height: 16vh;
}

.hax{
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.post{
  width: 125px;
  height: 75px;
  background-color: green;

}
.postit{
  width: 195px;
  height: 195px;
  background-color: #ffa;
  font-family: Pacifico, Arial, sans-serif;
  float:left;
  margin: 10px;
  padding: 10px;
  font-size: 22pt;
  box-shadow: 2px 2px #00000022;
  color: black;
  text-align: left;
}

.postit:nth-child(1n){
  transform: rotate(1deg);
}

.postit:nth-child(2n){
  transform: rotate(-2deg);
}

.postit:nth-child(3n){
  transform: rotate(3deg);
}

.pointer{
  height: 15px;
  width: 15px;
  border-radius: 8px;
  z-index: 3000;
}

.qr{
  width: 145px;
  height: 145px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}


/* Radial Menu */

.pieWrap {
  position:absolute;
  width:210px;
  height:210px;
}

.pieSlice {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: grey;
  background-repeat:no-repeat;
  background-size: 40%;
  background-position: center;
  margin: 2.5px;
  float: left;
}

.innerCircle {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

.pieSliceText {
  border-radius: 100% 0 0 0;
  background-image:url('Assets/text.png');
}

.pieSliceImage {
  border-radius: 0 100% 0 0;
  background-image:url('Assets/image.png');
}

.pieSliceVideo {
  border-radius: 0 0 0 100%;
  background-image:url('Assets/video.png');
}

.pieSliceOther {
  border-radius: 0 0 100% 0;
  /*background-image: url('');*/
}
